body{
background-color: rgb(138, 180, 180);
margin: 10% 20%;
color: #ecb8a5;
font-family: Arial,"sans-serif";
}
h1{
    padding-bottom: 5%;
    font-size: 40px;
    font-family: 'fresca',sans-serif;
}
header{
    padding: 0;
    margin: 0 15%;
    color: #904c77;
}
.CheckBox{
    padding: 10%;
    margin: 5%;
    background-color: #904c77;
    text-align: center;
    border-radius: 20px;
}
#rules{
    padding-top: 2%;
    display: none;
}
#rules ul li{
    text-align: center;
}
#error{
    color: red;
    display: none;
}

